* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100vh;
  width: 500px;
  position: fixed;
  z-index: 1;
}

header aside {
  background-color: #01a093;
  width: 200px;
  height: 100vh;
}

header aside .hamburger {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 60px;
  height: 50px;
  background-color: transparent;
  position: relative;
}

header aside .hamburger:hover {
  cursor: pointer;
}

header aside .hamburger span {
  width: 80%;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}

header aside .hamburger .line1 {
  position: absolute;
  top: 0;
  left: 10%;
}

header aside .hamburger .line2 {
  position: absolute;
  top: calc(50% - (2px/2));
  left: 10%;
}

header aside .hamburger .line3 {
  position: absolute;
  bottom: 0;
  left: 10%;
}

header nav {
  width: 300px;
  height: 100vh;
  background-color: #01a093;
  opacity: 0.6;
  display: none;
}

main {
  min-height: 150vh;
  width: calc(100% - 200px);
  background-color: orange;
  margin-left: 200px;
}

main .mainPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  color: #01a093;
  background-color: #E5FFFE;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% calc(100% - 5vw), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 100% calc(100% - 5vw), 0 100%);
}

main .mainPage h1 {
  font-size: 70px;
  font-weight: 300;
}

main .mainPage h2 {
  font-size: 25px;
  letter-spacing: 9px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #777;
}

main .mainPage a {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
}

main .mainPage a div {
  padding: 25px 50px;
  -webkit-clip-path: ellipse(50% 45% at 50% 50%);
          clip-path: ellipse(50% 45% at 50% 50%);
  background-color: #01a093;
}

main .mainPage a div .button1 {
  position: absolute;
  top: 0;
  left: 61%;
  height: 80%;
  width: 2%;
  background-color: #013a36;
  z-index: 2;
}

main .mainPage a div .button2 {
  position: absolute;
  left: 60%;
  top: 0;
  height: 70%;
  width: 5%;
  background-color: #016d64;
  z-index: 1;
}

main .projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat 2 1fr;
      grid-template-columns: repeat 2 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2 1fr);
      grid-template-areas: "firstGrid secondGrid" "fourthGrid thirdGrid";
  margin: 50px 0;
  height: 120vh;
  background-color: red;
}

main .projects .about-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .projects .about-project h1 {
  color: #01a093;
  font-size: 50px;
  margin-bottom: 10px;
}

main .projects .about-project h2 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 30px;
}

main .projects .about-project a {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
  padding: 15px 50px;
  border: 1px solid #fff;
  border-radius: 40px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

main .projects .about-project a:hover {
  background-color: #777;
  border: 1px solid #888;
}

main .projects .image-project {
  background-color: green;
  margin: 0 40px;
}

main .projects .first-grid {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: firstGrid;
}

main .projects .second-grid {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: secondGrid;
  background: url("../Rysunki/community-988898_1920.png");
  background-size: cover;
  background-position: center;
}

main .projects .third-grid {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: thirdGrid;
}

main .projects .fourth-grid {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fourthGrid;
  background: url("../Rysunki/woman-1594711_1920.jpg");
  background-size: cover;
  background-position: center;
}

main .technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #E5FFFE;
  min-height: 70vh;
  -webkit-clip-path: polygon(100% 0%, 0% 5vw, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0%, 0% 5vw, 0% 100%, 100% 100%);
  padding: 140px 50px 0 50px;
  margin-bottom: 50px;
}

main .technology h1 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 50px;
  color: #016d64;
}

main .technology section {
  margin: 0 auto;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-top: 100px;
}

main .technology section div {
  width: 100%;
  height: 400px;
  background-color: #fff;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 5px #013a36;
          box-shadow: 10px 10px 5px #013a36;
  border: 2px solid #01a093;
  position: relative;
  margin-bottom: 70px;
}

main .technology section div h1 {
  position: absolute;
  top: -50px;
  left: 10%;
  color: #01a093;
  font-size: 50px;
  font-weight: 300;
  background-color: #fff;
  padding: 15px 35px;
  border-radius: 50px;
  border: 2px solid #01a093;
  -webkit-box-shadow: 5px 5px 5px #016d64;
          box-shadow: 5px 5px 5px #016d64;
}

main .technology section div ul {
  position: absolute;
  top: 15%;
  left: 7%;
}

main .technology section div ul li {
  margin-bottom: 7px;
  font-size: 22px;
}

main .aboutMe {
  height: 70vh;
  -webkit-clip-path: polygon(100% 0%, 0% 5vw, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0%, 0% 5vw, 0% 100%, 100% 100%);
  background-color: red;
}

main footer {
  height: 70vh;
  background-color: green;
}
/*# sourceMappingURL=style.css.map */