header
  display: flex
  flex-direction: column
  height: 100vh
  width: $size-nav
  position: fixed 
  z-index: 1
  background-color: $color-main-theme
  border-right: 1px solid $color-main-theme-dark
  @media (max-width: 900px)
    display: block
    height: $size-nav-800
    width: 100%
    border-right: none 
    border-bottom: 1px solid $color-main-theme-dark
  aside 
    width: 100%
    height: $size-nav-800
    position: relative
    @media (max-width: 900px)
      padding: 0 20px
    .hamburger
      top: 50%
      left: 100%
      transform: translate(-100%, -50%)
      width: 60px
      height: 50px 
      position: relative
      display: none
      @media (max-width: 900px)
        display: block
      @media (max-height: 700px)
        width: 55px
        height: 45px
      @media (max-height: 650px)
        width: 50px
        height: 40px
      &:hover 
        cursor: pointer
      span 
        width: 80%
        height: 2px
        background-color: $color-main-theme-lighter
        border-radius: 1px
      .line1 
        position: absolute
        top: 0
        left: 10%
      .line2
        position: absolute
        top: calc(50% - (2px/2))
        left: 10%
      .line3 
        position: absolute
        bottom: 0
        left: 10%
  nav 
    display: flex 
    flex-direction: column
    justify-content: center
    align-items: center
    width: $size-nav
    height: 100vh
    @media (max-width: 900px)
      background-color: $color-main-theme
      width: 50%
      height: 40vh
      margin-left: 50%
      border: 1px solid $color-main-theme-dark
      display: none
    @media (max-width: 600px)
      margin: 0 
      width: 100%
    ul 
      list-style: none
      width: 80%
      li 
        padding: 20px 0 10px
        margin-bottom: 25px
        text-align: right
        border-bottom: 4px solid $color-main-theme-dark
        position: relative
        a 
          text-decoration: none
          color: $color-main-theme-lighter
          font-size: 20px
          text-transform: uppercase
          &:hover 
            font-weight: 600
            color: $color-white
        .hover::after
          content: ''
          position: absolute
          display: block 
          bottom: -4px
          width: 0 
          height: 4px 
          background-color: $color-main-theme-darker
          transition: 0.2s linear
        .hover:hover::after 
          width: 100% 
          transition: 0.2s linear
      

           
          
    
