header
  display: flex
  flex-direction: column
  position: relative
  height: 100vh
  width: 300px
  position: fixed 
  z-index: 1
  background-color: $color-main-theme
  aside 
    width: 300px
    height: 15vh
    .hamburger 
      position: absolute
      top: 50px
      left: 50%
      transform: translate(-50%, 0)
      width: 60px
      height: 50px 
      background-color: transparent
      position: relative
      display: none
      &:hover 
        cursor: pointer
      span 
        width: 80%
        height: 2px
        background-color: $color-white
        border-radius: 1px
      .line1 
        position: absolute
        top: 0
        left: 10%
      .line2
        position: absolute
        top: calc(50% - (2px/2))
        left: 10%
      .line3 
        position: absolute
        bottom: 0
        left: 10%
  nav 
    display: flex 
    flex-direction: column
    justify-content: center
    align-items: center
    width: 300px
    height: 100vh
    ul 
      list-style: none
      width: 80%
      li 
        padding: 20px 0 10px
        margin-bottom: 25px
        text-align: right
        border-bottom: 4px solid $color-main-theme-dark

        a 
          text-decoration: none
          color: $color-main-theme-lighter
          font-size: 20px
          text-transform: uppercase
    

    
