main 
  min-height: 200vh
  width: calc(100% - 200px)
  background-color: $color-gray
  margin-left: 200px
  .aboutMe
    display: flex 
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    width: 100%
    color: $color-white
    background-color: $color-sky-blue
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% calc(100% - 5vw), 0 100%)
    h1 
      font-size: $size-h1
      font-weight: 300
    h2 
      font-size: $size-h2
      font-weight: 600
      letter-spacing: 9px
      text-transform: uppercase
      margin-bottom: 30px
    a 
      text-decoration: none
      font-size: $size-button
      text-transform: uppercase
      color: $color-white
      letter-spacing: 5px
      div
        padding: 25px 50px
        clip-path: ellipse(50% 45% at 50% 50%)
        background-color: $color-pink
        .button1
          position: absolute
          top: 0
          left: 61%
          height: 80%
          width: 2%
          background-color: $color-pink-darker
          z-index: 2
        .button2
          position: absolute
          left: 60%
          top: 0
          height: 70%
          width: 5%
          background-color: $color-pink-dark
          z-index: 1
  .techStack 
    height: 100vh
    width: 100%
    background-color: yellow

  




    