main
  width: calc(100% - $size-nav)
  background-color: $color-main-theme-darker
  margin-left: $size-nav
  @media (max-width: 900px)
    margin: 0 
    padding: $size-nav-800 0 0 0
    width: 100%
  #mainPage
    display: flex 
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    width: 100%
    background: url('../Rysunki/texture.jpg')
    background-size: cover 
    background-position: center
    background-attachment: fixed
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% calc(100% - 5vw), 0 100%)
    .wrapper
      display: flex 
      justify-content: center 
      align-items: center
      width: 40%
      height: 30%
      min-height: 250px
      background-color: rgba(0,0,0,0.8)
      @media (max-width: 1100px)
        width: 65%
      @media (max-width: 900px)
        width: 100%
      @media (max-width: 350px)
        height: 25%
      @media (max-height: 600px)
        height: 40%
      section 
        display: flex 
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 0 20px
        transform: translateY(10px)
        opacity: 0
        transition: transform 1s ease-in-out, opacity 0.5s linear
        &.active
          transform: translateY(0)
          opacity: 1
        h1 
          font-size: $size-h1-main
          color: $color-main-theme
          font-weight: 300
          @media (max-width: 1500px)
            font-size: $size-h1-main-1500
          @media (max-width: 1300px)
            font-size: $size-h1-main-1300
          @media (max-width: 350px)
            font-size: $size-h1-main-350
        h2 
          font-size: $size-h2-main
          letter-spacing: 9px
          text-transform: uppercase
          margin-bottom: 30px
          color: $color-gray-lighter
          @media (max-width: 1500px)
            font-size: $size-h2-main-1500
          @media (max-width: 1300px)
            font-size: $size-h2-main-1300
          @media (max-width: 350px)
            font-size: $size-h2-main-350
        a 
          text-decoration: none
          font-size: $size-button
          text-transform: uppercase
          color: $color-white
          letter-spacing: 5px
          @media (max-width: 1300px)
            font-size: $size-button-1300
          div
            padding: 25px 50px
            clip-path: ellipse(50% 45% at 50% 50%)
            background-color: $color-main-theme
            position: relative
            @media (max-width: 1500px)
              padding: 20px 40px
            .button1
              position: absolute
              top: 0
              left: 90%
              height: 100%
              width: 10%
              background-color: $color-main-theme-darker
              z-index: 2
            .button2
              position: absolute
              left: 82%
              top: 0
              height: 100%
              width: 20%
              background-color: $color-main-theme-dark
              z-index: 1


  #aboutMe 
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(4, 1fr)
    background-color: $color-main-theme-darker
    padding: 80px 50px
    width: 100%
    min-height: 80vh
    @media (max-width: 1300px)
      padding: 50px
    @media (max-width: 1050px)
      display: flex
      flex-direction: column
    @media (max-width: 600px)
      padding: 50px 20px
    @media (max-width: 510px)
      padding: 30px 20px

    .introduction
      display: flex 
      flex-direction: column
      padding: 0 10px
      grid-area: span 3 / span 1
      @media (max-width: 1050px)
        margin-bottom: 50px
      @media (max-width: 900px)
        margin-bottom: 30px
      @media (max-width: 800px)
        margin-bottom: 50px
      @media (max-width: 600px)
        margin-bottom: 30px
      h1 
        font-size: $size-h1-rest
        color: $color-main-theme-lighter
        font-weight: 300
        margin-bottom: 15px
        transform: translateY(40px)
        opacity: 0
        transition: transform 0.8s ease-in-out, opacity 0.5s linear
        &.active
          transform: translateY(0)
          opacity: 1
        @media (max-width: 1500px)
          font-size: $size-h1-rest-1500
        @media (max-width: 1300px)
          font-size: $size-h1-rest-1300
          margin-bottom: 10px
        @media (max-width: 1050px)
          font-size: $size-h1-rest-1500
          margin-bottom: 15px
        @media (max-width: 900px)
          font-size: $size-h1-rest-1300
          margin-bottom: 10px
        @media (max-width: 800px)
          font-size: $size-h1-rest-1500
          margin-bottom: 15px
        @media (max-width: 600px)
          font-size: $size-h1-rest-1300
          margin-bottom: 10px
        @media (max-width: 510px)
          font-size: $size-h1-rest-510
      
      h2 
        font-size: $size-h2-rest
        letter-spacing: 9px
        text-transform: uppercase
        color: $color-gray-lighter
        margin-bottom: 10px
        transform: translateY(40px)
        opacity: 0
        transition: transform 0.8s ease-in-out, opacity 0.5s linear
        &.active
          transform: translateY(0)
          opacity: 1
        @media (max-width: 1500px)
          font-size: $size-h2-rest-1500
        @media (max-width: 1300px)
          font-size: $size-h2-rest-1300
        @media (max-width: 1050px)
          font-size: $size-h2-rest-1500
        @media (max-width: 900px)
          font-size: $size-h2-rest-1300
        @media (max-width: 800px)
          font-size: $size-h2-rest-1500
        @media (max-width: 600px)
          font-size: $size-h2-rest-1300
        @media (max-width: 510px)
          font-size: $size-h2-rest-510

      p 
        font-size: $size-p
        letter-spacing: 2px
        line-height: 150%
        color: $color-white
        transform: translateY(40px)
        opacity: 0
        transition: transform 0.8s ease-in-out, opacity 0.5s linear
        &.active
          transform: translateY(0)
          opacity: 1
        @media (max-width: 1500px)
          font-size: $size-p-1500
        @media (max-width: 1300px)
          font-size: $size-p-1300
        @media (max-width: 1050px)
          font-size: $size-p-1500
        @media (max-width: 900px)
          font-size: $size-p-1300
        @media (max-width: 800px)
          font-size: $size-p-1500
        @media (max-width: 600px)
          font-size: $size-p-1300
    .myPhoto
      grid-area: span 4 / span 1
      transform: translateY(40px)
      opacity: 0
      transition: transform 0.8s ease-in-out, opacity 0.5s linear
      &.active
        transform: translateY(0)
        opacity: 1
      @media (max-width: 1300px)
        grid-area: span 3 / span 1
      @media (max-width: 1050px)
        width: 60%
        flex-basis: 400px
        align-self: center 
      @media (max-width: 600px)
        flex-basis: 300px
      @media (max-width: 450px)
        width: 80%
      @media (max-width: 400px)
        width: 100%
   
      div 
        background: url('../Rysunki/me.jpg')
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        width: 100%
        height: 100%
        transition: 0.3s linear
        &:hover 
          filter: grayscale(1) contrast(1.2)
        @media (max-width: 1500px)
          background-size: cover
  
    .icons 
      grid-area: span 1 / span 1
      display: flex
      justify-content: center
      align-items: center
      transform: translateY(40px)
      opacity: 0
      transition: transform 0.8s ease-in-out, opacity 0.5s linear
      &.active
        transform: translateY(0)
        opacity: 1
      @media (max-width: 1300px)
        grid-area: span 1 / span 2
        margin-top: 20px
      @media (max-width: 1050px)
        margin-top: 50px
      @media (max-width: 900px)
        margin-top: 30px
      @media (max-width: 800px)
        margin-top: 50px
      @media (max-width: 600px)
        margin-top: 30px
      a
        display: flex
        justify-content: center
        align-items: center
        width: 80px
        height: 80px 
        margin: 0 7%
        text-decoration: none
        color: $color-main-theme-darker
        background-color: $color-main-theme-lighter
        font-size: $size-contact-about-me
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
        transition: 0.2s linear
        &:hover 
          transform: rotate(360deg)
        @media (max-width: 400px)
          width: 60px
          height: 60px
          font-size: $size-contact-about-me-400

          
          
  #hobby 
    min-height: 20vh
    background-color: $color-main-theme-lighter
    clip-path: polygon(100% 0%, 0% 5vw, 0% 100%, 100% 100%)
    padding: 170px 50px
    margin-bottom: -100px
    @media (max-width: 1500px)
      padding: 140px 50px
    @media (max-width: 1300px)
      padding: 120px 50px 160px 50px
    @media (max-width: 600px)
      padding: 80px 20px 100px 20px
      margin-bottom: -50px
    @media (max-width: 510px)
      padding: 50px 0 80px 0 
      margin-bottom: -40px
    h1 
      font-size: $size-h1-rest
      color: $color-main-theme-dark
      font-weight: 300
      padding-bottom: 20px
      transform: translateX(-100vw)
      transition: 1s ease-in-out
      &.active
        transform: translateX(0)
      @media (max-width: 1500px)
        font-size: $size-h1-rest-1500
      @media (max-width: 1300px)
        font-size: $size-h1-rest-1300
        padding-bottom: 15px
      @media (max-width: 1050px)
        font-size: $size-h1-rest-1500
      @media (max-width: 900px)
        font-size: $size-h1-rest-1300
      @media (max-width: 800px)
        font-size: $size-h1-rest-1500
      @media (max-width: 600px)
        font-size: $size-h1-rest-1300
        padding-bottom: 10px
      @media (max-width: 510px)
        font-size: $size-h1-rest-510
        margin: 0 20px
     
        
    section 
      display: grid
      grid-template-rows: repeat(7, 1fr)
      grid-template-columns: repeat(7, 1fr)
      grid-gap: 20px
      min-height: 100vh
      padding-top: 50px
      border-top: 2px solid $color-main-theme
      @media (max-width: 1300px) 
        padding-top: 40px
      @media (max-width: 1100px)
        grid-template-rows: repeat(8, 1fr)
        grid-template-columns: repeat(5, 1fr)
        grid-gap: 10px
      @media (max-width: 700px)
        grid-template-rows: repeat(12, 1fr)
        grid-template-columns: 1fr
        grid-gap: 0
        min-height: 200vh
      @media (max-width: 600px) 
        padding-top: 30px

      div 
        overflow: hidden
        min-height: 300px
      .hobbyImage
        display: flex 
        justify-content: center 
        align-items: center
        height: 100%
        width: 100%
        transition: 0.4s ease-in-out
        &:hover 
          transform: scale(1.05)
        div
          display: flex 
          justify-content: center 
          align-items: center
          width: 100% 
          min-height: 70px
          background-color: rgba(0,0,0,0.7)
          p 
            font-size: $size-h2-rest
            color: $color-white
            letter-spacing: 3px
            padding: 0 10px
            @media (max-width: 1500px)
              font-size: $size-p-hobby-1500
            @media (max-width: 1300px)
              font-size: $size-p-hobby-1300
            @media (max-width: 1100px) 
              font-size: $size-p-hobby-1100
      .first-image-hobby 
        grid-area: span 4 / span 3
        transform: translateY(40px)
        opacity: 0
        transition: transform 0.8s ease-in-out, opacity 0.5s linear
        &.active
          transform: translateY(0)
          opacity: 1
        @media (max-width: 1100px)
          grid-area: span 4 / span 2
        @media (max-width: 700px)
          grid-area: span 2 / span 1
        > div 
          background: url('../Rysunki/salsaDance.jpg')
          background-size: cover
          background-position: center
      .second-image-hobby 
        grid-area: span 2 / span 4
        transform: translateY(40px)
        opacity: 0
        transition: transform 0.8s ease-in-out, opacity 0.5s linear
        &.active
          transform: translateY(0)
          opacity: 1
        @media (max-width: 1100px)
          grid-area: span 2 / span 3
        @media (max-width: 700px)
          grid-area: span 2 / span 1
        > div 
          background: url('../Rysunki/programming.jpg')
          background-size: cover
          background-position: center
      .third-image-hobby 
        grid-area: span 2 / span 2
        transform: translateY(40px)
        opacity: 0
        transition: transform 0.8s ease-in-out, opacity 0.5s linear
        &.active
          transform: translateY(0)
          opacity: 1
        @media (max-width: 1100px)
          grid-area: span 2 / span 3
        @media (max-width: 700px)
          grid-area: span 2 / span 1
        > div 
          background: url('../Rysunki/pokojowyPatrol.jpg')
          background-size: cover
          background-position: center
      .fourth-image-hobby 
        grid-area: span 2 / span 2
        transform: translateY(40px)
        opacity: 0
        transition: transform 0.8s ease-in-out, opacity 0.5s linear
        &.active
          transform: translateY(0)
          opacity: 1
        @media (max-width: 1100px)
          grid-area: span 2 / span 3
        @media (max-width: 700px)
          grid-area: span 2 / span 1
        > div 
          background: url('../Rysunki/winterSports.jpg')
          background-size: cover
          background-position: center
      .fifth-image-hobby 
        grid-area: span 3 / span 4 
        transform: translateY(40px)
        opacity: 0
        transition: transform 0.8s ease-in-out, opacity 0.5s linear
        &.active
          transform: translateY(0)
          opacity: 1
        @media (max-width: 1100px)
          grid-area: span 4 / span 2
        @media (max-width: 700px)
          grid-area: span 2 / span 1
        > div 
          background: url('../Rysunki/guitar.jpg')
          background-size: cover
          background-position: center
      .sixth-image-hobby 
        grid-area: span 3 / span 3
        transform: translateY(40px)
        opacity: 0
        transition: transform 0.8s ease-in-out, opacity 0.5s linear
        &.active
          transform: translateY(0)
          opacity: 1
        @media (max-width: 1100px)
          grid-area: span 2 / span 3
        @media (max-width: 700px)
          grid-area: span 2 / span 1
        > div 
          background: url('../Rysunki/movie.jpg')
          background-size: cover
          background-position: center


  
  #projects
    padding: 150px 50px
    margin-bottom: -100px
    background-color: $color-main-theme-darker
    clip-path: polygon(100% 0%, 0% 5vw, 0% 100%, 100% 100%)
    @media (max-width: 1050px)
      padding: 130px 50px
    @media (max-width: 600px)
      padding: 80px 20px 120px
    @media (max-width: 510px)
      padding: 50px 0 120px
      margin-bottom: -60px
    h1 
      font-size: $size-h1-rest
      color: $color-main-theme-lighter
      font-weight: 300
      padding-bottom: 20px
      transform: translateX(-100vw)
      transition: 1s ease-in-out
      &.active
        transform: translateX(0)
      @media (max-width: 1500px)
        font-size: $size-h1-rest-1500
      @media (max-width: 1300px)
        font-size: $size-h1-rest-1300
        padding-bottom: 15px
      @media (max-width: 1050px)
        font-size: $size-h1-rest-1500
      @media (max-width: 900px)
        font-size: $size-h1-rest-1300
      @media (max-width: 800px)
        font-size: $size-h1-rest-1500
      @media (max-width: 600px)
        font-size: $size-h1-rest-1300
        padding-bottom: 10px
      @media (max-width: 510px)
        font-size: $size-h1-rest-510
        margin: 0 20px
        
    section
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(2, 1fr)
      grid-template-areas: "firstGrid secondGrid" "fourthGrid thirdGrid"
      grid-gap: 20px
      min-height: 120vh
      padding-top: 50px
      border-top: 2px solid $color-main-theme-lighter
      @media (max-width: 1300px) 
        padding-top: 40px
      @media (max-width: 1050px)
        display: flex 
        flex-direction: column
      @media (max-width: 600px)
        padding-top: 30px
      .about-project 
        display: flex 
        flex-direction: column 
        justify-content: center 
        align-items: center
        h2 
          color: $color-main-theme
          font-size: $size-h1-rest
          margin-bottom: 10px
          font-weight: 300
          @media (max-width: 1500px)
            font-size: $size-h1-rest-1500
          @media (max-width: 1300px)
            font-size: $size-h1-rest-1300
          @media (max-width: 1050px)
            font-size: $size-h1-rest-1500
            margin-bottom: 5px
          @media (max-width: 900px)
            font-size: $size-h1-rest-1300
          @media (max-width: 800px)
            font-size: $size-h1-rest-1500
          @media (max-width: 600px)
            font-size: $size-h1-rest-1300
          @media (max-width: 510px)
            font-size: $size-h1-rest-510
        h3 
          color: $color-gray-lighter
          font-size: $size-h2-rest
          margin-bottom: 30px
          @media (max-width: 1500px)
            font-size: $size-h2-rest-1500
          @media (max-width: 1300px)
            font-size: $size-h2-rest-1300
          @media (max-width: 1050px)
            font-size: $size-h2-rest-1500
            margin-bottom: 20px
          @media (max-width: 900px)
            font-size: $size-h2-rest-1300
          @media (max-width: 800px)
            font-size: $size-h2-rest-1500
          @media (max-width: 600px)
            font-size: $size-h2-rest-1300
          @media (max-width: 510px)
            font-size: $size-h2-rest-510
        a 
          text-decoration: none
          font-size: $size-button
          text-transform: uppercase
          color: $color-white
          letter-spacing: 5px
          padding: 15px 50px
          background-color: $color-main-theme
          border-radius: 40px
          transition: 0.3s linear
          &:hover 
            background-color: $color-main-theme-lighter
            color: $color-main-theme-darker
          @media (max-width: 1300px)
            font-size: $size-button-1300
            padding: 15px 40px
      .image-project
        background-color: black
        @media (max-width: 1050px)
          align-self: center
          height: 500px
          width: 100%
          margin-bottom: 20px
      .first-grid 
        grid-area: firstGrid
        transform: translateY(40px)
        opacity: 0
        transition: transform 0.8s ease-in-out, opacity 0.5s linear
        &.active
          transform: translateY(0)
          opacity: 1
        @media (max-width: 1050px)
          order: 2
          margin-bottom: 50px
      .second-grid 
        grid-area: secondGrid 
        background: url('../Rysunki/Portfolio1.png')
        background-size: cover
        background-position: center
        transform: translateY(40px)
        opacity: 0
        transition: transform 0.8s ease-in-out, opacity 0.5s linear
        &.active
          transform: translateY(0)
          opacity: 1
        @media (max-width: 1050px)
          order: 1
        @media (max-width: 510px)
          background-position: 65% 50%
        @media (max-width: 450px)
          background-position: 60% 50%
      .third-grid 
        grid-area: thirdGrid
        transform: translateY(40px)
        opacity: 0
        transition: transform 0.8s ease-in-out, opacity 0.5s linear
        &.active
          transform: translateY(0)
          opacity: 1
        @media (max-width: 1050px)
          order: 4
      .fourth-grid 
        grid-area: fourthGrid
        background: url('../Rysunki/Mandala1.png')
        background-size: cover
        background-position: bottom center
        transform: translateY(40px)
        opacity: 0
        transition: transform 0.8s ease-in-out, opacity 0.5s linear
        &.active
          transform: translateY(0)
          opacity: 1
        @media (max-width: 1050px)
          order: 3
          background-position: top center



  #technologyStack
    min-height: 30vh
    padding: 150px 50px 0 50px
    background-color: $color-main-theme-lighter
    clip-path: polygon(100% 0%, 0% 5vw, 0% 100%, 100% 100%)
    @media (max-width: 1050px)
      padding: 100px 50px 0 50px
    @media (max-width: 600px)
      padding: 100px 20px 0 20px 
    @media (max-width: 510px)
      padding: 80px 20px 0 20px
    h1
      font-size: $size-h1-rest
      color: $color-main-theme
      font-weight: 300
      padding-bottom: 20px
      transform: translateX(-100vw)
      transition: 1s ease-in-out
      &.active
        transform: translateX(0)
      @media (max-width: 1500px)
        font-size: $size-h1-rest-1500
      @media (max-width: 1300px)
        font-size: $size-h1-rest-1300
      @media (max-width: 1050px)
        font-size: $size-h1-rest-1500
      @media (max-width: 900px)
        font-size: $size-h1-rest-1300
      @media (max-width: 800px)
        font-size: $size-h1-rest-1500
      @media (max-width: 600px)
        font-size: $size-h1-rest-1300
      @media (max-width: 510px)
        font-size: $size-h1-rest-510
    section 
      display: flex 
      flex-wrap: wrap
      justify-content: space-between
      margin: 0 auto 
      min-height: 40vh
      width: 100%
      padding: 50px 10vw
      border-top: 2px solid $color-main-theme
      @media (max-width: 1400px)
        padding: 50px 5vw
      @media (max-width: 1300px)
        padding: 40px 0
      @media (max-width: 950px)
        justify-content: space-around
      @media (max-width: 700px)
        padding: 30px 5vw
      @media (max-width: 400px)
        padding: 30px 0
      
      div 
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        flex-basis: 200px
        height: 200px 
        margin: 20px
        transform: translateY(40px)
        opacity: 0
        transition: transform 0.8s ease-in-out, opacity 0.5s linear
        &.active
          transform: translateY(0)
          opacity: 1
        @media (max-width: 1750px)
          margin: 5px
        @media (max-width: 1600px)
          flex-basis: 180px
          height: 180px
        @media (max-width: 1120px)
          flex-basis: 150px
          height: 150px
        @media (max-width: 1000px)
          flex-basis: 140px
          height: 140px
        @media (max-width: 950px)
          flex-basis: 120px
          height: 120px
        @media (max-width: 900px)
          flex-basis: 150px
          height: 150px
        @media (max-width: 800px)
          flex-basis: 140px
          height: 140px
        @media (max-width: 700px)
          flex-basis: 160px
          height: 160px
        @media (max-width: 450px)
          flex-basis: 150px
          height: 150px
        @media (max-width: 400px)
          flex-basis: 120px
          height: 120px
        
        .fab, .fas
          font-size: $size-technology-icons
          @media (max-width: 400px)
            font-size: $size-technology-icons-400
        p 
          font-size: $size-h2-rest
          margin-top: 5px
          font-weight: 700
          color: $color-main-theme-dark
          @media (max-width: 1300px)
            font-size: $size-p-1300
          @media (max-width: 510px)
            font-size: $size-p-510
        img 
          height: 90px
          @media (max-width: 400px)
            height: 70px
     
  
    


  




    