//Colors
$color-pink: #ff0044
$color-pink-dark: #990028
$color-pink-darker: #4c0014
$color-gray: #555
$color-sky-blue: #2098D1
$color-white: #fff

//Font
$font-main: 'Lato', sans-serif

//Font-sizes
$size-h1: 70px
$size-h2: 30px
$size-button: 20px


