//Colors
$color-main-theme: #01a093
$color-main-theme-dark: #016d64
$color-main-theme-darker: #013a36
$color-main-theme-lighter: #E5FFFE
$color-main-theme-light: #92F6F3
$color-gray: #555
$color-gray-lighter: #999
$color-sky-blue: #2098D1
$color-white: #fff
$color-white-darker: #888

//Font
$font-main: 'Lato', sans-serif

//Font-sizes
$size-h1-main: 70px
$size-h2-main: 25px
$size-button: 20px
$size-h1-rest: 50px
$size-h2-rest: 25px
$size-li: 22px
$size-p: 18px
$size-contact-about-me: 50px
$size-technology-icons: 90px
$size-technology-icons-hover: 100px
$size-form: 30px

//Nav size 
$size-nav: 250px

//Media 1500 
$size-h1-main-1500: 60px
$size-h2-main-1500: 18px
$size-h1-rest-1500: 40px
$size-h2-rest-1500: 20px
$size-p-1500: 16px
$size-form-1500: 25px
$size-nav-font-1500: 20px
//Media 1300
$size-h1-main-1300: 50px
$size-h2-main-1300: 16px
$size-button-1300: 14px
$size-h1-rest-1300: 35px
$size-h2-rest-1300: 16px
$size-p-1300: 14px
$size-form-1300: 22px
//Media 900 
$size-contact-about-me-900: 30px
//Media 800 
$size-nav-800: 70px
//Media 700 
$size-contact-about-me-700: 40px
//Media 600 
$size-form-600: 18px 
//Media 510 
$size-h1-rest-510: 30px
$size-h2-rest-510: 14px
$size-p-510: 12px
//Media 450 
$size-nav-font-450: 18px
//Media 400 
$size-contact-about-me-400: 40px
$size-technology-icons-400: 70px
//Media 350
$size-h1-main-350: 45px
$size-h2-main-350: 14px





